# ─────────────────────────────────────────────
# SUPABASE — consigue estos valores en:
# https://supabase.com → tu proyecto → Settings → API
# ─────────────────────────────────────────────
NEXT_PUBLIC_SUPABASE_URL=https://wryzkricjyrzwtbczoid.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndyeXprcmljanlyend0YmN6b2lkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NzYwNzgsImV4cCI6MjA5MDQ1MjA3OH0.bKGxckEDZImbb7MYgwCWbS1iWYB8t1-tFHAoPNmZr6E
